{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}" style="padding-top:0.5rem;padding-bottom:0.5rem;">
      {{ partial "site-navigation.html" .}}
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}" style="padding-top:0.25rem;padding-bottom:0.25rem;">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
